:root {
  /*colors*/
  --celadon: #b4edd2;
  --light-blue: #a0cfd3;
  --light-coral: #eb8a90;
  --border-color: rgba(92, 92, 92, 0.6);
  --card-color: rgb(23, 145, 145);
  --text-title-color: rgb(52, 100, 112);
  /*gradient*/
  --background-gradient: linear-gradient(to right, #b4edd2, #a0cfd3);
  --card-background: linear-gradient(
    to top left,
    rgba(87, 149, 153, 0.534),
    white
  );
}
