:root {
    /*colors*/
    --celadon: #B4EDD2;
    --light-blue: #A0CFD3;
    --light-coral: #EB8A90;
    /*gradient*/
    --background-gradient: linear-gradient(to right, #B4EDD2, #A0CFD3);
    --card-background: linear-gradient(to top left, rgba(87, 149, 153, 0.534), white);
}