@import "base.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: var(--background-gradient);
    display: flex;
    height: 100vh;
}

.questioncontainer {
    background: var(--card-background);
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
    padding: 30px 10px;
    width: 380px;
    display: flex;
    justify-content: center;
}

.maincontainer {
    /*container för fråga och svar*/

    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1 {
    padding-bottom: 50px;
}

.scoredisplay {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.scoredisplay p {
    font-weight: 600;
    font-size: 24px;
}

@media (min-width: 600px) {
    .questioncontainer {
        width: 450px;
    }
}

@media (min-width: 1000px) {
    .buttons {
        display: flex;
    }
}