@import "base.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-gradient);
}

.maincontainer {
    /*container för fråga och svar*/

    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questioncontainer {
    /*container för fråga*/
    background: var(--card-background);
    border: 2px solid black;
    border-radius: 25px;
    margin: 40px 0 100px 0;
    padding: 60px 10px;
    width: 380px;
    display: flex;
    justify-content: center;
}

.answercontainer {
    /*container för svar*/
    background: var(--card-background);
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px;
    width: 380px;
    
}

.imagecontainer {
    display: none;
}

@media (min-width: 600px) {
    .answersection{
        display: flex;
    }
    .answercontainer {
        width: 280px;
        margin: 10px 10px 10px 0;
    }
    .questioncontainer {
        padding: 30px 10px;
        width: 600px;
        margin-bottom: 70px;
    }

    .imagecontainer {
        display: block;
        width: 600px;
        height: 250px;
        margin-top: 10px;
        border: 2px solid black;
    }
}
@media (min-width: 1000px) {
    .answercontainer {
        width: 470px;
    }
    .questioncontainer {
        width: 980px;
    }

}