@import "base.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background-gradient);
}

.title-select {
  text-align: center;
  font-size: 4rem;
  color: var(--text-title-color);
}

.category-card {
  background: var(--card-background);
  width: 280px;
  height: 400px;
  margin: 2rem auto;
  border-radius: 15px;
  border: 2px solid rgba(92, 92, 92, 0.6);
  box-shadow: 0 6px 50px 5px rgba(105, 105, 105, 0.404);
}

.category-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 50px 5px rgba(255, 255, 255, 0.438);
}

.card-image {
  width: 100%;
  height: 40%;
  background-color: lightblue;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-info {
  padding: 0 1rem;
  min-width: 200px;
}

.category {
  font-size: 2.5rem;
  color: var(--card-color);
}

.category-info {
  font-size: 1.2rem;
  color: var(--card-color);
}

@media (min-width: 600px) {
  .all-cards {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem auto;
    justify-content: center;
    gap: 3rem 1rem;
  }

  .cards {
    margin: auto;
  }
}

@media (min-width: 1000px) {
  .all-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .cards {
    margin-bottom: 2rem;
  }
}
